# AutoGerberlation

Diego Alvarez <br>
diego.alvarez@colorado.edu

# Packages

In [3]:
import pandas as pd

# Accessing Gerber Object

In [1]:
import os
import sys
sys.path.append(os.path.join(os.path.dirname(os.getcwd()), "src"))
from Gerber import Gerber

# Accessing Non-Financial Data

In [10]:
df_raw = pd.read_csv(
    "https://media.geeksforgeeks.org/wp-content/cdn-uploads/20211130152529/daily-minimum-temperatures-in-blr.csv",
    index_col = 0)

In [22]:
(df_raw.reset_index().melt(
    id_vars = "Date").
    sort_values("Date").
    drop(columns = ["variable"]).
    assign(
        lag1 = lambda x: x.value.shift(1),
        lag2 = lambda x: x.value.shift(2),
        lag3 = lambda x: x.value.shift(3)).
    set_index("Date").
    corr())

          value      lag1      lag2      lag3
value  1.000000  0.535588  0.524197  0.533984
lag1   0.535588  1.000000  0.535968  0.524811
lag2   0.524197  0.535968  1.000000  0.535919
lag3   0.533984  0.524811  0.535919  1.000000

In [23]:
(df_raw.reset_index().melt(
    id_vars = "Date").
    sort_values("Date").
    drop(columns = ["variable"]).
    assign(
        lag1 = lambda x: x.value.shift(1),
        lag2 = lambda x: x.value.shift(2),
        lag3 = lambda x: x.value.shift(3)).
    set_index("Date").
    cov())

           value       lag1       lag2       lag3
value  16.511916   8.836814   8.648508   8.807393
lag1    8.836814  16.506925   8.842640   8.657353
lag2    8.648508   8.842640  16.510234   8.842746
lag3    8.807393   8.657353   8.842746  16.510356

In [ ]:


lags = 3
for i in range(lags):
    
    df_raw["lag{}".format(i + 1)]